body {
  background-color: #215A63;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.registro-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2.5rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  color: #215A63;
}

.registro-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #215A63;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  display: block;
  color: #215A63;
}

input,
select {
  width: 100%;
  padding: 0.9rem;
  font-size: 1rem;
  border: 2px solid #B4E900;
  border-radius: 6px;
  box-sizing: border-box;
  margin-bottom: 1.2rem;
}

input[type="file"] {
  background-color: #f9f9f9;
  color: #215A63;
  font-weight: bold;
}

button {
  background-color: #B4E900;
  color: #215A63;
  font-weight: bold;
  border: none;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 2rem auto 0;
  width: 50%;
}

button:hover {
  background-color: #A0D800;
}

footer{
  background-color: #ffffff;
}

